.header-row {
    -fx-background-color: #33adff;
}

.day-label {
    -fx-text-fill: #ffffff;
}

.cal-grid {
    -fx-grid-lines-visible: true;
    -fx-alignment: center;
}

.day-cell {
    -fx-background-color: #ffffff;
}

.return-button {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-background-color: #00ff00;
}