.header-box {
    -fx-border-width: 2;
    -fx-border-color: black;
}

.header-row {
    -fx-background-color: #33adff;
}

.name-label {
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20;
    -fx-font-weight: bolder;
    -fx-background-color: #ffff66;
}

.day-label {
    -fx-text-alignment: center;
    -fx-text-fill: #ffffff;
}

.cal-grid {
    -fx-border-width: 2;
    -fx-border-color: black;
    -fx-grid-lines-visible: true;
    -fx-alignment: center;
}

.day-cell {
    -fx-background-color: #ffffff;
}

.return-button {
    -fx-text-alignment: center;
    -fx-background-color: #00cc66;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
}

.save-button {
    -fx-text-alignment: center;
    -fx-text-fill: #ffffff;
    -fx-background-color: #ff0000;
    -fx-font-weight: bold;
}

